/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

/* Homepage Styling */

/* Body/Background Styling */

body {
    background-image: url(../home/background-home-mobile.jpg);
    background-color: black;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* Navbar, Active Elements and Logo */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 10%;
}
.navCont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5%;
}
.navElement {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    padding: 0.2em;
}
.navElement a {
    text-decoration: none;
    font-weight: lighter;
    color: #D0D6F9;
}
.active {
    border-bottom: 1px solid slategray;
}

/* Hero */

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.hero h5 {
    margin-top: 5%;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    color: #D0D6F9;
    text-transform: uppercase;
}
.hero h1 {
    font-family: 'Bellefair', sans-serif;
    font-size: 5rem;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15%;
}

p {
    font-family: 'Space Mono', monospace;
    padding: 35px;
    word-spacing: 5px;
    line-height: 15px;
    font-size: 10px;
    color: #D0D6F9;
    text-align: center;
}

/* Button Styling */

.explore-main {
    height: 125px;
    width: 125px;
    font-family: 'Bellefair', serif;
    font-weight: lighter;
    letter-spacing: 2px;
    border-radius: 50%;
    border: 1px solid black;
  }
  .explore-main a {
    text-decoration: none;
    color: black;
  }


  /* Destination Page Styling */

  /* Navbar */

  nav {
      margin-bottom: 0;
  }
  
  /* Body and Background */

  .destinationBody {
      background-image: url(../destination/background-destination-mobile.jpg);
      background-color: black;
      background-size: cover;
  }

  /* Headings, HRs and Text */

  span {
    color: slategray;
  }      
  #destH1 {
      font-size: 3em;
  }
  #destH5 {
      color: #FFFFFF;
  }
  #pDest {
      padding-top: 5%;
      line-height: 20px;
      word-spacing: normal;
  }
  hr {
      margin-top: 0;
      width: 90%;
      color: darkslategrey;
  }
  h3 {
      font-family: 'Bellefair', sans-serif;
      font-size: 1.5em;
      letter-spacing: .2rem;
      color: #FFFFFF;
      margin-top: 3%;
      margin-bottom: 5%;
  }

  /* Destination Navigator */

    .destNav {
        display: flex;
        justify-content: center;
        margin: 5%;
    }
    .destNav a {
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2px;
        font-weight: lighter;
        padding: 8px;
        text-decoration: none;
        color: #D0D6F9;
    }
    .activeDest {
        border-bottom: solid 3px white;
        padding-bottom: 5px;
    }


  /* Planet Image */

.planetImg {
      height: 50%;
      width: 50%;
      margin-top: 5%;
  }

  /* Crew page styling */

/* Body Styling */

  .crewBody {
    background-image: url("../crew/background-crew-mobile.jpg");
  }

  /* Titles, headings, subheadings */

  #crewH1 {
    font-size: 26px;
    margin-top: 2%;
  }
  #crewH5 {
    color:#FFFFFF;
    margin-bottom: 0%;
  }
  #titleH5 {
      font-family: 'Bellefair', sans-serif;
      color: slategrey;
  }
  #pCrew {
    padding-top: 20px;
    font-size: 13px;
  }

  /* Crew page images */

  .crewImgHurley {
      height: 50%;
      width: 50%;
  }
  .crewImgShutt {
    height: 46%;
    width: 46%;
}
.crewImgGlover {
    height: 58%;
    width: 58%;
}
.crewImgAnsari {
    height: 65%;
    width: 65%;
}

  /* Crew page image slider navbar */

  .crewNav {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5%;
  }
  .crewNav a {
      font-family: 'Bellefair', sans-serif;
      text-decoration: none;
      color: #D0D6F9; 
      font-size: 16px;
      z-index: auto;
  }

  /* Button slider */

/* .imgSlider {
    height: 25px;
    width: 25px;
    letter-spacing: 2px;
    border-radius: 50%;
    border: solid 1px darkslategray;
    background-color: slategray;
} */

.imgSlider {
       -webkit-appearance: button;
       -moz-appearance: button;
        appearance: button;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: solid 3px darkslategray;
        text-decoration: none;
        color: initial;

}
.activeCrew {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-decoration: none;
    border: solid 3px slategrey;
}